

/* THEME DEBUG */
/* THEME HOOK: 'simple_menu_icons_css_item' */
/* BEGIN OUTPUT from 'modules/contrib/simple_menu_icons/templates/simple-menu-icons-css-item.html.twig' */

    a.menu-icon-1,
    ul.links li.menu-icon-1 a,
    ul.menu li.menu-icon-1 a {
        background-image: url(/sites/default/files/menu_icons/Homepage-menu.png);
        padding-left:28px;
        background-repeat: no-repeat;
        background-position: left center;
    }

/* END OUTPUT from 'modules/contrib/simple_menu_icons/templates/simple-menu-icons-css-item.html.twig' */

